{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>
  <body class="bg-slate-200">
    <div class="container mx-auto pt-10">
      <div class="grid grid-cols-4 gap-4">
        {% for post in posts_list %}
        <div
          class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        >
          <span
            class="text-5xl font-extrabold tracking-tight text-white border-red-500 border-separate border-b"
            >{{forloop.counter}}~</span
          >
          <h1 class="text-2xl mt-5 font-bold text-slate-200">{{post.text}}</h1>
          <p class="text-slate-200">{{post.desc}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% load static tailwind_tags %}
  </body>
</html>
